@import './normalize.css';

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-link: #7f7f7f;
	--color-link-hover: #e8e5e4;
}

/* Typography */

html {
	/* 62.5% of 16px = 10px */
	font-size: 62.5%;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.5;
	color: var(--color-body);
}

h1,
h2,
h3 {
	color: var(--color-black);
	margin-bottom: 1rem;
	font-weight: 500;
	letter-spacing: -0.1rem;
	word-spacing: -0.1rem;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 3rem;
}

p {
	font-size: 1.4rem;
	margin-top: 0;
}

@media screen and (min-width: 810px) and (max-width: 1199px) {
	h1 {
		font-size: 4.8rem;
	}
}

@media screen and (min-width: 810px) {
	h2 {
		font-size: 3.8rem;
	}
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 7.2rem;
	}
}

/* Skill Tab */
.skill {
	display: inline-block;
	cursor: default;
	background-color: var(--color-link-hover);
	border-radius: 30px;
	padding: 1.2rem 0.8rem;
}

.skill--empty {
	background-color: transparent;
}

.skill__text {
	margin: 0;
}

/* Text Container */
.block-text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 700px;
}

.block-text__description {
	margin: 0rem;
}

.block-text--descriptor {
	font-size: 2.4rem;
}

@media screen and (min-width: 810px) {
	.block-text--descriptor {
		font-size: revert;
	}
}

/* Contact Block */
.block-contact {
	text-align: center;
}

.block-contact a {
	color: var(--color-link);
	text-decoration: none;
	transition: color 0.3s;
}

.block-contact a:hover {
	color: var(--color-link-hover);
	text-decoration: none;
}

.block-contact__text {
	margin: 0;
}

/* Card */
.card {
}

.card .card__image {
	border-radius: 10px;
	width: 100%;
	height: 30rem;
	object-fit: cover;
}

@media screen and (min-width: 810px) and (max-width: 1199px) {
	.card .card__image {
		height: 42rem;
	}
}

@media screen and (min-width: 1200px) {
	.card .card__image {
		font-size: 52rem;
	}
}
