@import './normalize.css';

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-link: #7f7f7f;
	--color-link-hover: #e8e5e4;
}

/* Typography */

html {
	/* 62.5% of 16px = 10px */
	font-size: 62.5%;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 1.5;
	color: var(--color-body);
}

h1,
h2,
h3 {
	color: var(--color-black);
	margin-bottom: 1rem;
	font-weight: 500;
	letter-spacing: -0.1rem;
	word-spacing: -0.1rem;
}

h1 {
	font-size: 3.6rem;
}

h2 {
	font-size: 3rem;
}

p {
	font-size: 1.4rem;
	margin: 0;
	transition: color 0.3s;
}

a {
	cursor: pointer;
}

a > p:hover {
	color: var(--color-link);
}

@media screen and (min-width: 810px) and (max-width: 1199px) {
	h1 {
		font-size: 4.8rem;
	}
}

@media screen and (min-width: 810px) {
	h2 {
		font-size: 3.8rem;
	}
}

@media screen and (min-width: 1200px) {
	h1 {
		font-size: 7.2rem;
	}
}

/* Skill Tab */
.skill {
	display: inline-block;
	cursor: default;
	background-color: var(--color-link-hover);
	border-radius: 30px;
	padding: 1.2rem 0.8rem;
}

.skill--empty {
	background-color: transparent;
}

.skill__text {
	margin: 0;
}

/* Text Container */
.block-text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 700px;
}

.block-text__description {
	margin: 0rem;
}

.block-text--descriptor {
	font-size: 2.4rem;
}

@media screen and (min-width: 810px) {
	.block-text--descriptor {
		font-size: revert;
	}
}

/* Contact Block */
.block-contact {
	text-align: center;
}

.block-contact a {
	color: var(--color-link);
	text-decoration: none;
	transition: color 0.3s;
}

.block-contact a:hover {
	color: var(--color-link-hover);
	text-decoration: none;
}

.block-contact__text {
	margin: 0;
}

/* Card */
.card {
}

.card__image {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	height: 30rem;
	object-fit: cover;
}

@media screen and (min-width: 810px) and (max-width: 1199px) {
	.card__image {
		height: 42rem;
	}
}

@media screen and (min-width: 1200px) {
	.card__image {
		height: 52rem;
	}
}

/* Feature */
.feature {
	position: relative;
}

.feature__link {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	display: block;
	text-decoration: none;
}

.feature__image {
	aspect-ratio: 1/0.7;
	height: auto;
	transition: all 0.2s;
}

.feature__link-text {
	color: var(--color-black);
	font-size: 2rem;
	font-weight: 500;
}

.feature__link-icon {
	position: absolute;
	margin: 2rem 2rem;
	height: 48px;
	width: 48px;
	background: white;
	border-radius: 50%;
	top: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature__link-icon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 24px;
	width: 24px;
	background-image: url('../images/arrow.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: translate(-50%, -50%);
}

.feature--coming-soon .feature__image {
	filter: brightness(0.6);
}

.feature--coming-soon .feature__link {
	cursor: default;
}

.feature--coming-soon .feature__link-text::after {
	content: 'Coming Soon';
	margin-left: 1rem;
	color: var(--color-link);
}

.feature--coming-soon .feature__link-icon {
	opacity: 1;
	background: var(--color-white);
}

.feature--coming-soon .feature__link-icon::after {
	background-image: url('../images/lock.svg');
}

@media screen and (min-width: 810px) {
	.feature__link-text {
		margin: 2rem 2rem;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s;
		color: white;
	}

	.feature--coming-soon .feature__image {
		filter: brightness(1);
	}

	.feature--coming-soon .feature__link-icon {
		opacity: 0;
	}

	.feature--coming-soon .feature__link-text::after {
		margin-left: 0;
		display: block;
		color: var(--color-link-hover);
	}

	.feature__link:hover .feature__image {
		filter: blur(8px) brightness(0.6);
		-webkit-filter: blur(8px) brightness(0.6);
	}

	.feature__link:hover .feature__link-text,
	.feature__link:hover .feature__link-icon {
		opacity: 1;
	}
}

@media screen and (min-width: 1200px) {
	.feature__link-text {
		font-size: 2.4rem;
	}
}

/* Info */
.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.info__name {
	font-size: 2.2rem;
	font-weight: 600;
}

.info__date,
.info__position {
	font-size: 1.4rem;
	color: var(--color-link);
}

/* Info Block */
.block-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

/* Grids */
.grid {
	display: grid;
}

.grid--features {
	padding: 0 4rem;
	gap: 4rem;
}

.grid--brands,
.grid--info {
	grid-template-columns: repeat(2, 1fr);
	gap: 6rem 0rem;
}

@media screen and (min-width: 810px) {
	.grid--features {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid--info {
		grid-template-columns: repeat(3, 1fr);
	}

	.grid--brands {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Brands */
.brand {
	box-sizing: border-box;
	width: 100%;
	padding: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand__image {
	filter: invert(100%);
	max-width: 100%;
	height: auto;
}

/* Lists */
.list {
	list-style: none;
	padding-left: 0;
	color: var(--color-headings);
}

.list--inline .list__item {
	display: inline-block;
	margin-right: 2rem;
}

/* Nav */
.header {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 100;
}

.nav {
	width: 300px;
}

.nav__list {
	backdrop-filter: blur(16px);
	background-color: rgba(232, 229, 228, 0.5);
	border-radius: 40px;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.nav__list .list__item {
	width: 100%;
	margin-right: 0;
	text-align: center;
	padding: 1.5rem 0rem;
}

.nav__active {
	background: white;
	height: 100%;
	border-radius: 40px;
}

/* Footer */
.footer {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 4rem;
	padding-bottom: 8rem;
}

.footer__info,
.footer__nav {
	margin: 0;
}

.footer__nav {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.footer__nav .list__item {
	margin: 0;
}

.footer__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 810px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
		padding: 4rem;
	}

	.footer__info {
		flex-direction: row;
		gap: 1rem;
	}
}

/* Container */
.container {
	max-width: 1400px;
	box-sizing: border-box;
}

/* Hero */
.hero {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	height: 50vh;
	padding: 2rem;
}

.hero__heading {
	text-align: center;
}

.hero__list {
	display: none;
	margin: 0;
}

@media screen and (min-width: 810px) {
	.hero {
		height: 80vh;
	}
	.hero__list {
		display: block;
	}
}
