<section class="grid grid--brands">
	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>
	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>

	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>

	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>
	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>

	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>
	<div class="brand">
		<img class="brand__image" src="images/brand.webp" alt="brand image" />
	</div>
</section>
