<div class="card feature">
	<a href="#" class="feature__link">
		<img
			class="card__image feature__image"
			src="./images/sample.webp"
			alt=""
		/>
		<div class="feature__link-icon"></div>
		<div class="feature__link-text">Aire</div>
	</a>
</div>
<div class="card feature feature--coming-soon">
	<a href="#" class="feature__link">
		<img
			class="card__image feature__image"
			src="./images/sample.webp"
			alt=""
		/>
		<div class="feature__link-icon"></div>
		<div class="feature__link-text">Aire</div>
	</a>
</div>
