<div class="grid grid--features">
	<div style="height: 100px; background: gold"></div>
	<div style="height: 100px; background: dodgerblue"></div>
	<div style="height: 100px; background: coral"></div>
	<div style="height: 100px; background: gold"></div>
	<div style="height: 100px; background: dodgerblue"></div>
</div>
<div class="grid grid--brands">
	<div style="height: 100px; background: gold"></div>
	<div style="height: 100px; background: dodgerblue"></div>
	<div style="height: 100px; background: coral"></div>
	<div style="height: 100px; background: dodgerblue"></div>
</div>
<div class="grid grid--info">
	<div style="height: 100px; background: gold"></div>
	<div style="height: 100px; background: dodgerblue"></div>
	<div style="height: 100px; background: coral"></div>
</div>
