<div class="container hero">
	<h1 class="hero__heading">
		A brand and product designer working with clients globally
	</h1>
	<ul class="list list--inline hero__list">
		<a class="list__item skill skill--empty">
			<p class="skill__text">Expertise</p>
		</a>
		<a class="list__item skill">
			<p class="skill__text">Branding</p>
		</a>
		<a class="list__item skill">
			<p class="skill__text">Product</p>
		</a>
		<a class="list__item skill">
			<p class="skill__text">Design Systems</p>
		</a>
	</ul>
</div>
