<section class="grid grid--info">
	<div class="block-info">
		<div class="info">
			<p class="info__date">2017 - Present</p>
			<p class="info__name">OH.STUDIO</p>
			<p class="info__position">Freelance Designer</p>
		</div>
		<div class="skill">
			<p class="skill__text">Director</p>
		</div>
	</div>
	<div class="block-info">
		<div class="info">
			<p class="info__date">2017 - Present</p>
			<p class="info__name">OH.STUDIO</p>
			<p class="info__position">Freelance Designer</p>
		</div>
		<div class="skill">
			<p class="skill__text">Director</p>
		</div>
	</div>
	<div class="block-info">
		<div class="info">
			<p class="info__date">2017 - Present</p>
			<p class="info__name">OH.STUDIO</p>
			<p class="info__position">Freelance Designer</p>
		</div>
		<div class="skill">
			<p class="skill__text">Director</p>
		</div>
	</div>
	<div class="block-info">
		<div class="info">
			<p class="info__date">2017 - Present</p>
			<p class="info__name">OH.STUDIO</p>
			<p class="info__position">Freelance Designer</p>
		</div>
		<div class="skill">
			<p class="skill__text">Director</p>
		</div>
	</div>
</section>
