<article class="block-text">
	<div class="skill block-text__heading">
		<p class="skill__text">Experience</p>
	</div>
	<h2 class="block-text__description">Where I've worked</h2>
</article>
<article class="block-text">
	<div class="skill block-text__heading">
		<p class="skill__text">About</p>
	</div>
	<h2 class="block-text__description block-text--descriptor">
		A freelance designer based in the UK. I combine my experience in product
		and brand to solve problems, tell stories, and create compelling
		experiences.
	</h2>
</article>
<article class="block-text">
	<div class="skill block-text__heading">
		<p class="skill__text">Clients</p>
	</div>
	<h2 class="block-text__description">Who I've worked with</h2>
</article>
