<article class="text-container">
	<div class="skill text-container__heading">
		<p class="skill__text">Experience</p>
	</div>
	<h2 class="text-container__description">Where I've worked</h2>
</article>
<article class="text-container">
	<div class="skill text-container__heading">
		<p class="skill__text">About</p>
	</div>
	<h2 class="text-container__description text-container--descriptor">
		A freelance designer based in the UK. I combine my experience in product
		and brand to solve problems, tell stories, and create compelling
		experiences.
	</h2>
</article>
<article class="text-container">
	<div class="skill text-container__heading">
		<p class="skill__text">Clients</p>
	</div>
	<h2 class="text-container__description">Who I've worked with</h2>
</article>
